<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <%- include('includes/general_header') %>

        <main>
            <h3>Welcome to my dashboard, mina-san!</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad itaque eum, inventore cupiditate qui facere
                ea
                quam quaerat, maxime dignissimos cumque reprehenderit minus iure voluptatem cum deserunt eligendi eos
                eaque.
            </p>
        </main>

        <%- include('includes/general_footer') %>
</body>

</html>