<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <%- include('includes/general_header') %>
        <main>
            <h3>LoguIn Webu</h3>
            <p>Kore wa boku no Login Webu.</p>
            <form action="/login" method="POST">
                <% errors.forEach(login_error=> { %>
                    <p class="notice">
                        <%= login_error %>
                    </p>
                    <% }) %>
                        <fieldset>

                            <legend>Log in your wibu account</legend>
                            <label>
                                <span>Email</span>
                                <input type="email" name="email" required style="display: block; margin-top: 5px;">
                            </label>
                            <label>
                                <span>Password</span>
                                <input type="password" name="password" required
                                    style="display: block; margin-top: 5px;">
                            </label>
                            <br>
                            <button type="submit">Log In</button>

                            <p>Don't have an account? <a href="/signup">Sign Up</a></p>
                        </fieldset>
            </form>
        </main>

        <%- include('includes/general_footer') %>
</body>

</html>